@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body {
    margin:0;
    padding:0;
    background-color: lavender;
    padding: 2%;
    padding-top: 2%;
    background-image:  url("../image/puzzle_background.png");    
}

#photo{
    height: 40px;
}


.form-group{
    margin-top: 20px;
}
.container{
    height:100%;
    width:100%;
    border-radius: 50px;
}


table#demotable {
    table-layout: fixed ;
    width: 100% ;
    border-collapse: collapse ;
    border: 0px black solid ;
    margin:0px;
    padding: 0px;
    cursor: pointer;
  }
  table#demotable td {
    width: auto ;
    /* border: 1px black solid ; */
    padding: 0px ;
  }

    /* table#demotable tr {
        border: 1px black solid ;
    } */
 

.title{
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    /* padding-left: 50px; */
}
.title2{
    font-family: 'Architects Daughter', cursive;
    font-size: 14px;
    margin:5px;
}
#title-container{
    margin:30px;
    padding-left: 50px;
    margin-bottom: 100px;
 }

.card0 {
    background-color: #CDDEFF;
    /* box-shadow: 0px 4px 0px 0px #757575; */
    /* border-radius: 50px 50px 0px 0px; */
}

.card1 {
    /* border: 2px solid #4e0606; */
    background-color: white;
    /* box-shadow: 0px 4px 8px 0px #757575; */
    border-radius: 50px 0 0 0;
    height:100%
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px
}

.image {
    width: 360px;
    height: 280px
}

.border-line {
    border-right: 1px solid #EEEEEE
}

.or {
    width: 10%;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    /* border-radius: 2px */
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: rgb(114, 114, 248);
    /* border-radius: 0 0 50px 50px; */

}


@media screen and (max-width: 995px) {
    #logo {
       height: 50%;
       width: 50%;
    }

    #photo{
        height:40px;
        width: 100%;
    }
    #img_show{
        height:40px;
        width: 100%;
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }

    .card1 {
        /* border: 2px solid #4e0606; */
        background-color: white;
        /* box-shadow: 0px 4px 8px 0px #757575; */
        border-radius: 50px 0 0 0;
        height:50%
    }
}

